<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ButtonRightsMapper">
	
	<!--关联表名 -->
	<sql id="tableName">
		sys_role_button
	</sql>
	
	<!--按钮表名 -->
	<sql id="buttontableName">
		SYS_FHBUTTON
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		RB_ID,	
		ROLE_ID,
		BUTTON_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{RB_ID},	
		#{ROLE_ID},
		#{BUTTON_ID}
	</sql>
	
	<!-- 按钮表字段 -->
	<sql id="buttonField">
		QX_NAME	
	</sql>
	
	<!-- 查询全部按钮权限 -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select 
			<include refid="Field"></include>
		from
			<include refid="tableName"></include>
	</select>
	<!-- 新增按钮 -->
	<insert id="add" parameterType="pd">
		insert into 
			<include refid="tableName"></include>
		(
			<include refid="Field"></include>
		) values (
			<include refid="FieldValue"></include>
		)
		
	</insert>
	
	<!-- 查找按钮 (角色id和按钮id)-->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			<include refid="Field"></include>
		from 
			<include refid="tableName"></include>
		where 
			ROLE_ID = #{ROLE_ID}
		and 
			BUTTON_ID = #{BUTTON_ID}
	</select>
	
	<!-- 删除按钮 -->
	<delete id="delete">
		delete from 
			<include refid="tableName"></include>
		where 
			ROLE_ID = #{ROLE_ID}
		and 
			BUTTON_ID = #{BUTTON_ID}
	</delete>
	
</mapper>