<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PicturesMapper">
	
	<!-- 表名 -->
	<sql id="tableName">
		TB_PICTURES
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		PICTURES_ID,
  		TITLE,
  		NAME,
  		PATH,
  		CREATETIME,
  		MASTER_ID,
  		BZ
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		${PICTURES_ID},
		${TITLE},
		${NAME},
		${PATH},
		${CREATETIME},
		${MASTER_ID},
		${BZ},
	</sql>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select 
			p.TITLE,
			p.NAME,
			a.PATH,	
			a.CREATETIME,	
			a.MASTER_ID,	
			a.BZ,	
			a.PICTURES_ID
		from <include refid="tableName"></include> p
		where 1 = 1
		<if test="pd.keyword != null and pd.keyword != ''">
		and 
			(
			p.TITLE like CONCAT(CONCAT('%', #{pd.KEYW}),'%')
			or
			p.NAME like CONCAT(CONCAT('%', #{pd.KEYW}),'%')
			or
		 	a.PICTURES_ID LIKE CONCAT(CONCAT('%', #{pd.KEYW}),'%')
	 		or
		 	a.MASTER_ID LIKE CONCAT(CONCAT('%', #{pd.KEYW}),'%')
			)
		</if>
	</select>
</mapper>